body {
    overflow-x: hidden;
}

.caption {
    font-size: 90px;
    font-family: "Noto Sans", "Noto Sans JP", serif;
    letter-spacing: 2px;
    font-weight: bold;
    position: relative;
    left: 100px;
}

.text {
    font-size: 30px;
    font-family: "Noto Sans", "Noto Sans JP", serif;
    letter-spacing: 2px;
    position: relative;
    left: 100px;
}

.member_photo {
    position: relative;
    left: 70px;
    width: 500px;
    height: 500px;
}

.member {
    display: flex;
    padding: 40px 0px;
}

.name {
    display: flex;
    flex-direction: column;
    padding: 0px 0px;
}

.name_kanji {
    font-size: 60px;
    font-family: "Noto Sans", "Noto Sans JP", serif;
    letter-spacing: 2px;
    width: 400px;
    height: auto;
    position: relative;
    left: 180px;
    margin: 0;
    padding: 0;
}

.name_alphabet {
    font-size: 30px;
    font-family: "Noto Sans", "Noto Sans JP", serif;
    letter-spacing: 2px;
    width: 400px;
    height: auto;
    position: relative;
    left: 180px;
    margin: 0;
    padding: 0;
}

.belong {
    font-size: 30px;
    font-family: "Noto Sans", "Noto Sans JP", serif;
    letter-spacing: 2px;
    width: 550px;
    height: auto;
    position: relative;
    left: 180px;
    padding: 0px;
    margin-top: 10px;
}

.language {
    font-size: 30px;
    font-family: serif;
    letter-spacing: 2px;
    width: 400px;
    height: auto;
    position: relative;
    left: 180px;
    margin-top: 10px;
}

.other {
    font-size: 30px;
    font-family: "Noto Sans", "Noto Sans JP";
    letter-spacing: 2px;
    width: 650px;
    height: auto;
    position: relative;
    left: 180px;
    margin-top: 10px;
}

@media screen and (max-width: 640px) {
    .caption {
        padding-top: 15vw;
        font-size: 3.5em;
        left: 9vw;
        max-width: 90vw;
    }

    .member {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 20px 20vw 20px;
        text-align: center;
    }

    .member_photo {
        left: 0;
        width: 60%;
        height: auto;
        margin-bottom: 10px;
    }

    .name_kanji, .name_alphabet, .belong, .language, .other {
        left: 0;
        width: 80%;
        text-align: center;
    }

    .text {
        font-size: 20px;
        left: 0;
        text-align: center;
    }

    .members-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 0 auto;
    }

    .members-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style-type: none;
        width: 100%;
    }

    .member {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        width: 80%;
    }

    .texts {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .name {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
        width: 100%;
    }

    .name_alphabet {
        font-size: 1em;
    }

    .belong {
        font-size: 1.1em;
        margin-top: 1.1em;
        margin-bottom: 0;
    }

    .language {
        font-size: 1em;
        margin-top: 0.5em;
    }

    .other {
        font-size: 1em;
    }
}
